@charset "utf-8";
@import url("colorbox.css");
@import url("jscal2.css");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline}
body {line-height:1; overflow:hidden}
ol,ul {list-style:none}
blockquote,q {quotes:none}
:focus {outline:0}
textarea {resize:none}
ins {text-decoration:none}
del {text-decoration:line-through}
img {vertical-align:middle; border:none}
table {border-collapse:collapse; border-spacing:0}
.clear {clear:both!important; height:0!important; font-size:0!important; line-height:0!important; overflow:hidden!important}
.fl {float:left}
.fr {float:right}
.ml5 {margin-left:5px}
a {text-decoration:none; color:#777}
a:hover {text-decoration:underline; color:#333}
html,body {overflow-x:hidden}
html {overflow-y:scroll}
body {font:12px/1.6em Tahoma, Arial; overflow:hidden; background:#fff; color:#555}
#wrap {width:966px; margin:auto; background:#fff}
#header {width:960px; position:relative; z-index:10; height:135px; margin:auto}
#header h1.logo {width:212px; height:66px; float:left; margin:15px 0 15px 20px}
#header h1.logo a {background:url(img/logo.png); display:block; text-indent:-9999px; width:212px; height:66px}
#header .topnav {float:right; display:block; height:42px; padding:18px 20px 0 0}
#header .topnav li {float:left; padding:0 9px; border-right:#ddd 1px solid; height:13px; margin:7px 0}
#header .topnav li a {display:block; background:url(img/submenu.png) no-repeat left top; line-height:13px; height:13px; text-indent:-9999px}
#header .topnav li a.a_01 {width:24px; background-position:left top}
#header .topnav li a.a_02 {width:48px; background-position:-42px top}
#header .topnav li a.a_03 {width:48px; background-position:-108px top}
#header .topnav li a.a_04 {width:48px; background-position:-174px top}
#header .topnav li a.a_01:hover,#header .topnav li.curr a.a_01 {background-position:left bottom}
#header .topnav li a.a_02:hover,#header .topnav li.curr a.a_02 {background-position:-42px bottom}
#header .topnav li a.a_03:hover,#header .topnav li.curr a.a_03 {background-position:-108px bottom}
#header .topnav li a.a_04:hover,#header .topnav li.curr a.a_04 {background-position:-174px bottom}
#header .topnav li.login {margin:0; border:none}
#header .topnav li.login a {background:url(img/btnTop.png) no-repeat left top; font-weight:bold; padding-left:25px; width:62px; height:27px; line-height:27px; text-indent:0}
#header .topnav li.login a:hover {background-position:right top; color:#000; text-decoration:none}
#header .topnav li.reg {padding:6px 0 0 0; margin:0; border:none}
#header .topnav li.reg a {text-indent:0; margin:0; padding:0 3px; line-height:16px; text-decoration:none; height:auto; background:none}
#header .topnav li.reg a:hover {background:#999; color:#fff}
#header .topnav li.member {padding:3px 0 0 10px; margin:0; border:none; color:#666}
#header .topnav li.member a {text-indent:0; margin:0; padding:0 3px; line-height:16px; display:inline-block; text-decoration:none; height:auto; background:none}
#header .topnav li.member a.area {color:#E83827}
#header .topnav li.member a:hover.area,#header .topnav li.member a.area.curr {color:#fff; background:#E83827}
#header .topnav li.member a:hover {background:#999; color:#fff}
#header .tips {float:right; width:300px; padding-left:100px; position:relative}
#header .tips .btnMap {background:url(img/btnTop.png) no-repeat -2px -29px; position:absolute; top:0; right:200px; overflow:hidden; display:block; height:22px; width:82px; text-indent:-9999px}
#header .tips a:hover.btnMap {background-position:-86px -29px}
#header .tips .weather {width:160px; float:right; position:relative; margin:-3px 20px 0 20px; overflow:hidden}
#header .tips .weather i {width:180px; height:22px; display:block; right:0; top:0; background:#fff; position:absolute; z-index:10; cursor:default; filter:alpha(opacity:0); KHTMLOpacity:0.0; MozOpacity:0.0; opacity:0.0}
#header .menu {background:url(img/menuBg.png) no-repeat top; height:39px; line-height:39px; clear:both}
#header .menu .nav li {float:left; height:39px; background:url(img/menuBg.png) no-repeat right bottom; padding:0 23px 0 21px}
#header .menu .nav li a {background:url(img/menuLink.png) no-repeat; height:18px; line-height:18px; overflow:hidden; text-indent:-9999px; margin-top:10px; display:block}
#header .menu .nav li a.a_01 {width:83px; background-position:0 0}
#header .menu .nav li a.a_02 {width:83px; background-position:-83px 0}
#header .menu .nav li a.a_03 {width:84px; background-position:-166px 0}
#header .menu .nav li a.a_04 {width:83px; background-position:-250px 0}
#header .menu .nav li a.a_05 {width:128px; background-position:-333px 0}
#header .menu .nav li a.a_01:hover,#header .menu .nav li.curr a.a_01 {background-position:0 -18px}
#header .menu .nav li a.a_02:hover,#header .menu .nav li.curr a.a_02 {background-position:-83px -18px}
#header .menu .nav li a.a_03:hover,#header .menu .nav li.curr a.a_03 {background-position:-166px -18px}
#header .menu .nav li a.a_04:hover,#header .menu .nav li.curr a.a_04 {background-position:-250px -18px}
#header .menu .nav li a.a_05:hover,#header .menu .nav li.curr a.a_05 {background-position:-333px -18px}
#header .search {background:url(img/searchBarBg.png) no-repeat; white-space:nowrap; display:inline; float:right; position:relative; margin:9px 20px 0 0; height:20px; line-height:20px}
#header .search_curr {background-position:left bottom}
#header .search input {background:none; border:none; *vertical-align:middle; height:16px; line-height:16px; margin:0 40px 0 7px; width:143px}
#header .search .loading {position:absolute; display:none; left:157px; top:3px; height:15px; width:16px; background:#dbdbdb url(img/searchBarLoading.gif) no-repeat 2px center}
#header .search .result {position:absolute; display:none; z-index:10; left:-8px; top:20px; width:255px}
#header .search .result h3 {background:url(img/searchBg.png) no-repeat left top; height:30px; padding:10px 20px 0; line-height:30px}
#header .search .result ul {display:block; background:url(img/searchBg.png) no-repeat left bottom; padding:0 8px 20px 8px}
#header .search .result a {padding:10px; position:relative; display:block; height:57px; overflow:hidden; line-height:16px; font-size:11px}
#header .search .result a:hover {background:#ccc; color:#000; text-decoration:none}
#header .search .result a:hover i {background:url(img/logo57BG2.png) no-repeat}
#header .search .result img {float:left; margin:0 10px 0 3px; width:57px; height:57px}
#header .search .result i {position:absolute; display:block; cursor:pointer; background:url(img/logo57BG.png) no-repeat; width:65px; height:65px; left:9px; top:6px}
#header .search .result strong {display:block; font-size:12px; cursor:pointer; width:145px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
#content {padding:20px 0; overflow:hidden}
#footer {padding-bottom:15px}
#footer .fBanner {background:url(img/fBanner.png) no-repeat; height:117px}
#footer .fBanner a {display:block; float:left; height:100px; width:315px; margin:3px}
#footer .fInfo {background:url(img/footerLogo.png) no-repeat 20px 0; height:70px; padding-left:160px; color:#999}
#footer .fInfo ul {display:block; height:14px; overflow:hidden; padding:10px 0}
#footer .fInfo li {float:left; padding:0 10px; line-height:14px; border-left:#ddd 1px solid}
#footer .fInfo li.noBorder {padding-left:0; border:none}
#footer .fInfo a {color:#555}
#footer .fInfo a:hover {color:#000}
#footer .fInfo small {font-size:11px; display:block}
#footer .fInfo small strong {color:#777}
/* 404 */
.page404 {background:url(img/404.jpg) no-repeat right center; width:900px; margin:auto; height:280px}
.page404 h2 {font:bold 22px/40px 微软雅黑,Tahoma,Arial; margin:60px 0 10px 0}

/* 首页 */
.SliderShow {height:443px}
.SliderShow .graph {background:url(img/iocnBanner.png) no-repeat; width:193px; height:195px; position:absolute; z-index:2; left:-5px; bottom:0}
.SliderShow .left {width:723px; height:443px; float:left; position:relative}
.SliderShow .left i {position:absolute; z-index:1; left:0; top:0; display:block; cursor:pointer; width:723px; height:443px; background:url(img/iBannerBg.png) no-repeat left top}
#idTransformView  {position:relative}
#idTransformView li {position:absolute}
#idTransformView img {padding:8px 0 0 3px; width:720px; height:420px}
#idTransformView #idNum {position:absolute; height:15px; z-index:6; right:15px; bottom:40px}
#idTransformView #idNum span {background:url(img/btnSlider.png) top; cursor:default; display:inline-block; margin-left:2px; width:15px; height:15px}
#idTransformView #idNum span.on {background:url(img/btnSlider.png) bottom}
.SliderShow .right {width:243px; height:443px; overflow:hidden; float:right; background:url(img/iBannerBg.png) no-repeat -724px top}
.SliderShow .right h3 {background:url(img/iTBg.png) no-repeat; margin:38px 0 0 15px; height:24px; text-indent:-9999px; overflow:hidden}
.SliderShow .right .more {float:right; margin-top:-16px; background:url(img/iTBg.png) no-repeat right -99px; padding-right:14px; color:#999; margin-right:18px; height:11px; font:bold 10px/9px Tahoma,Arial}
.SliderShow .right a {color:#888}
.SliderShow .right a:hover.more {color:#666; text-decoration:none; background-position:right -110px}
.SliderShow .right ul {margin:15px 0 0 14px; width:210px}
.SliderShow .right li {display:block; width:210px; line-height:16px; padding-bottom:5px; margin-bottom:0px; overflow:hidden; border-bottom:#ccc 1px dotted}
.SliderShow .right li a:hover {text-decoration:none; color:#333}
.SliderShow .right img {width:210px; height:98px; padding-bottom:5px; margin-top:-100px; display:block}
.SliderShow .right strong {display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:210px; cursor:pointer}
.SliderShow .right span {display:block; font-size:11px}
.SliderShow .right .shoppingCard {display:block; width:208px; height:75px; margin:20px 0 0 15px; background:url(img/jiahui.png)}
.indexBox {width:960px; margin:auto; padding-top:10px; overflow:hidden}
.indexBox .more {float:right; margin-top:-16px; background:url(img/iTBg.png) no-repeat right -99px; padding-right:14px; color:#999; margin-right:5px; height:11px; font:bold 10px/9px Tahoma,Arial}
.indexBox a:hover.more {color:#666; text-decoration:none; background-position:right -110px} 
.indexBox h3 {background:url(img/iTBg.png) no-repeat; height:24px; text-indent:-9999px; overflow:hidden}
.indexBox .brand {float:left; width:280px; position:relative; overflow:hidden; overflow:hidden}
.indexBox .brand h3 {background-position:4px -25px}
.indexBox .brand .switch {width:280px; height:30px; margin:10px 0; overflow:hidden; position:relative}
.indexBox .brand .switch a.btnLeft,.indexBox .brand .switch a.btnRight {background:url(img/iconBrand.png) no-repeat; width:7px; height:16px; position:absolute; top:8px}
.indexBox .brand .switch a.btnLeft {left:12px; background-position:-11px -273px}
.indexBox .brand .switch a.btnRight {right:5px; background-position:-42px -273px}
.indexBox .brand .switch div {overflow:hidden; width:220px; height:30px; margin-left:40px}
.indexBox .brand .switch ul {width:999px}
.indexBox .brand .switch li {display:block; float:left; width:30px; height:30px; line-height:30px; margin-right:14px; overflow:hidden; background:url(img/iconBrand.png) no-repeat; cursor:pointer}
.indexBox .brand .switch li.a_01 {background-position:0 0}
.indexBox .brand .switch li.a_02 {background-position:0 -30px}
.indexBox .brand .switch li.a_03 {background-position:0 -60px}
.indexBox .brand .switch li.a_04 {background-position:0 -90px}
.indexBox .brand .switch li.a_05 {background-position:0 -120px}
.indexBox .brand .switch li.a_06 {background-position:0 -150px}
.indexBox .brand .switch li.a_07 {background-position:0 -180px}
.indexBox .brand .switch li.a_08 {background-position:0 -210px}
.indexBox .brand .switch li.a_09 {background-position:0 -240px}
.indexBox .brand .switch li.a_01_curr {background-position:-30px 0}
.indexBox .brand .switch li.a_02_curr {background-position:-30px -30px}
.indexBox .brand .switch li.a_03_curr {background-position:-30px -60px}
.indexBox .brand .switch li.a_04_curr {background-position:-30px -90px}
.indexBox .brand .switch li.a_05_curr {background-position:-30px -120px}
.indexBox .brand .switch li.a_06_curr {background-position:-30px -150px}
.indexBox .brand .switch li.a_07_curr {background-position:-30px -180px}
.indexBox .brand .switch li.a_08_curr {background-position:-30px -210px}
.indexBox .brand .switch li.a_09_curr {background-position:-30px -240px}
.indexBox .brand .ibrandList {width:9999px; height:134px; margin-left:-1px}
.indexBox .brand .ibrandList a {display:block; width:65px; height:65px; margin:1px 3px; position:relative; float:left}
.indexBox .brand .ibrandList img {margin:4px 0 0 4px; width:57px; height:57px}
.indexBox .brand .ibrandList i {background:url(img/logo57BG.png) no-repeat; width:65px; height:65px; position:absolute; z-index:10; top:0; left:0; cursor:pointer}
.indexBox .brand .ibrandList li {float:left; width:300px}
.indexBox .brand .btnIbrandList {text-align:center; height:15px; overflow:hidden; cursor:default; margin-top:10px}
.indexBox .brand .btnIbrandList span {background:url(img/btnSlider2.png) no-repeat right center; width:7px; height:12px; overflow:hidden; display:inline-block; margin:0 1px; *margin:0 3px}
.indexBox .brand .btnIbrandList span.curr {background-position:left center}
.indexBox .weibo {float:left; width:340px; height:240px; position:relative; overflow:hidden; padding:0 35px}
.indexBox .weibo h3 {background-position:left -49px}
.indexBox .weibo .attention {background:url(img/iTBg.png) no-repeat left bottom; text-indent:-9999px; overflow:hidden; float:right; display:block; width:91px; height:25px; margin:-24px 0 10px 0}
.indexBox .weibo .itemt {overflow:hidden; width:340px}
.indexBox .weibo .twit_item{border-bottom:#ccc 1px dotted; clear:both; padding-bottom:5px; min-height:57px; _height:57px; margin-bottom:7px}
.indexBox .weibo .twit_item_pic {float:left; width:65px; padding-top:2px}
.indexBox .weibo .twit_item_content {float:left; width:274px; line-height:18px}
.indexBox .weibo .twit_item_content a {color:#6EAFD5}
.indexBox .weibo .twit_item_time {color:#999}
.indexBox .weibo .mask {background:url(img/weiboBg.png); height:45px; position:absolute; width:340px; left:30; bottom:0}
.indexBox .calendar {float:right; padding:0; width:270px}
.indexBox .calendar h3 {background-position:3px -73px}
.indexBox .calendar ul {margin-top:11px}
.indexBox .calendar ul li {margin-top:4px}
.indexBox .calendar ul a {display:block; width:270px; height:64px; position:relative}
.indexBox .calendar ul img {margin-left:5px}
.indexBox .calendar ul i {background:url(img/iCalendar.png) no-repeat; cursor:pointer; position:absolute; left:0; top:0; width:270px; height:64px}
/* 会员登入弹出框 */
#loginBox,#forgotPassword,#promptBox {padding:10px 30px; background:#fff}
#loginBox {width:380px}
#loginBox h3,#forgotPassword h3,#promptBox h3 {font:bold 16px/20px 微软雅黑,Tahoma,Arial; text-align:left; border-bottom:#ccc 1px solid; padding-bottom:10px; margin-bottom:20px}
#loginBox p,#forgotPassword p {padding-bottom:10px}
#loginBox label,#forgotPassword label {cursor:pointer}
#loginBox p label,#forgotPassword p label {display:inline-block; text-align:right; font-weight:bold; padding-right:20px; width:60px}
#loginBox p input,#forgotPassword p input {width:180px; padding:4px; vertical-align:middle; margin-right:10px; line-height:14px; height:14px; border:#ccc 1px solid; border-top-color:#ddd; border-left-color:#ddd}
#loginBox p input:hover,#loginBox p input:focus,#forgotPassword p input:hover,#forgotPassword p input:focus {border-color:#999}
#loginBox p a.reg {color:#09C}
#loginBox .saveInfo {padding-left:80px; display:block; margin-bottom:20px}
#loginBox .saveInfo input {vertical-align:middle}
#loginBox .btnLogin {background:url(img/btnLogin.png) left top; margin:0 10px 0 80px; text-indent:-999px; overflow:hidden; display:inline-block; vertical-align:middle; width:103px; height:29px}
#promptBox {width:240px; text-align:center}
#promptBox h4 {margin-bottom:10px}
#promptBox .promptBtn,#promptBox .aLogin,#forgotPassword .aLogin {background:url(img/btnLogin.png) left -29px; height:29px; margin-right:10px; display:inline-block; padding-left:17px; text-decoration:none}
#promptBox .promptBtn span,#promptBox .aLogin span,#forgotPassword .aLogin span {background:url(img/btnLogin.png) right -58px; height:29px;  cursor:pointer; display:inline-block; padding-right:20px; font-weight:bold; line-height:27px; color:#fff}
#forgotPassword {width:300px}
#forgotPassword .aLogin {margin-left:80px}
/* 内页 */
#main,#brandDetailed {background:url(img/bodyBg.png) no-repeat center 5px; padding:35px 25px 25px; width:910px; overflow:hidden; min-height:400px; margin:auto}
#main #left {background:url(img/sidebarBg.png) no-repeat right 30px; width:135px; min-height:400px; padding:0 20px 0 0; float:left}
#main h2 {background:url(img/h2title.png) no-repeat; height:30px; text-indent:-9999px}
/* 内页标题*/
#main #left h2.tBrand {background-position:0 0}
#main #left h2.tActivities {background-position:0 -32px}
#main #left h2.tNews {background-position:0 -160px}
#main #left h2.tMember {background-position:0 -224px}
#main #left h2.tSearch {background-position:0 -256px}
#main h2.tReach {background-position:0 -64px}
#main h2.tOffice {background-position:0 -96px}
#main h2.tAbout {background-position:0 -128px}
#main h2.tContact {background-position:0 -192px}
/* 子菜单 */
.submenu {font:bold 13px/22px 微软雅黑,Tahoma,Arial; padding-bottom:30px; margin-top:15px}
.submenu li a {padding-left:20px; height:22px; color:#999; display:block; background:url(img/iconSidebar.gif) no-repeat 5px -47px}
.submenu li a:hover {background-position:6px -86px; color:#666; text-decoration:none}
.submenu li a span,.submenu li a:hover span {font-size:10px; font-family:Tahoma,Arial}
.submenu li.curr a,.submenu li.curr a:hover {color:#E41F15; font-size:16px; height:39px; line-height:39px; background-position:5px top}
.submenu li.splitLine {height:30px; border-bottom:#ddd 1px solid; margin-bottom:30px}
.indexA {overflow:hidden; width:135px; border-top:#ccc 1px solid}
.indexA dt {text-align:center; font-weight:bold; line-height:25px; background:#eee; margin-bottom:5px}
.indexA dd {float:left; font-size:11px; width:13px; padding-left:5px; text-align:center; margin:2px 0}
.indexA dd a {display:inline-block; padding:0 5px; line-height:14px}
.indexA dd a:hover,.indexA dd.curr a {text-decoration:none; background:#E83827; color:#fff}
.indexF {overflow:hidden; width:135px; border-top:#ccc 1px solid; margin-top:20px}
.indexF dt {text-align:center; font-weight:bold; line-height:25px; background:#eee; margin-bottom:5px}
.indexF dd {float:left; font-size:11px; width:18px; padding-left:12px; text-align:center; margin:2px 0 4px 0}
.indexF dd a {display:inline-block; padding:0 5px; line-height:14px}
.indexF dd a:hover,.indexF dd.curr a {text-decoration:none; background:#E83827; color:#fff}
#main #right {float:right; width:745px; overflow:hidden}
/* 品牌列表 */
.brandSwitch {text-align:center; height:30px; padding-bottom:20px}
.brandSwitch a {display:inline-block; width:122px; height:30px; font:bold 14px/30px 微软雅黑,Tahoma,Arial; margin:0 5px; text-align:center; color:#999; background:url(img/switch.png) no-repeat center}
.brandSwitch a:hover {color:#fff; text-decoration:none; background-position:bottom}
.brandSwitch a.curr,.brandSwitch a.curr:hover {color:#fff; background-position:top}
.brandList {overflow:hidden; width:99999px; position:relative}
.brandList ul {width:750px; overflow:hidden; float:left}
.brandList li {background:url(img/brandBg.png) no-repeat; line-height:16px; margin:0 0 4px 4px; width:360px; height:180px; position:relative; padding:4px 5px 5px 4px; float:left}
.brandList li img {float:left; margin:7px 0 0 7px; width:115px; height:165px}
.brandList li a.subscribe,.brandList li a.subscribed {background:url(img/subscribe.png) no-repeat left -14px; width:45px; height:14px; text-indent:-999px; overflow:hidden; display:inline; float:right; margin:10px 10px -20px; position:relative; z-index:1}
.brandList li a:hover.subscribe {background-position:0 0}
.brandList li a.subscribed {background-position:0 -28px; width:53px}
.brandList li a:hover.subscribed {background-position:0 -42px}
.brandList li .brandInfo {margin:7px 10px 0 7px; height:165px; width:220px; position:relative; overflow:hidden; float:right}
.brandList li .brandInfo a {font-size:18px; line-height:18px; color:#E83827}
.brandList li .brandInfo a:hover {text-decoration:none}
.brandList li .brandInfo a span {margin-bottom:10px; cursor:pointer; display:block}
.brandList li .brandInfo a span.en {width:170px}
.brandList li .brandInfo a span.cn {font-family:微软雅黑,Tahoma,Arial}
.brandList li .brandInfo p {color:#999}
.brandList li:hover .brandInfo p {color:#555}
.brandList li .brandInfo small {font-size:10px; display:block; background:#fff; text-align:right; position:absolute; bottom:0; right:0; width:220px; color:#999; font-weight:bold}
/* 翻页 */
.page {margin-top:30px; padding:10px; height:16px; line-height:16px; border:#ddd 1px solid; border-left:none; border-right:none}
.page span {color:#C6B198; float:left}
.page strong {color:#999; font-size:11px}
.page ul {float:right}
.page ul li {float:left; font-size:11px; font-weight:bold}
.page ul li a{display:inline-block; padding:0 8px; line-height:10px; height:10px; margin:2px 0; border-left:#ddd 1px solid}
.page ul li.current {color:#E83827; padding:2px 8px; line-height:10px; height:10px; cursor:default}
.page ul li.first a,.page ul li.previous a,.page ul li.next a,.page ul li.last a {padding:0; margin:0; border:none; width:16px; height:16px; line-height:16px; display:block; text-indent:-999px; overflow:hidden; background:#fff url(img/pageBg.png) no-repeat}
.page ul li.first a {background-position:0 0}
.page ul li.first a:hover {background-position:0 -16px}
.page ul li.first a.none,.page ul li.first a:hover.none {background-position:0 -32px; cursor:default}
.page ul li.previous {background:#fff; padding-right:5px; position:relative; margin-right:-1px}
.page ul li.previous a {background-position:-16px 0}
.page ul li.previous a:hover {background-position:-16px -16px}
.page ul li.previous a.none,.page ul li.previous a:hover.none {background-position:-16px -32px; cursor:default}
.page ul li.next {padding-left:4px}
.page ul li.next a {background-position:-32px 0}
.page ul li.next a:hover {background-position:-32px -16px}
.page ul li.next a.none,.page ul li.next a:hover.none {background-position:-32px -32px; cursor:default}
.page ul li.last a {background-position:-48px 0}
.page ul li.last a:hover {background-position:-48px -16px}
.page ul li.last a.none,.page ul li.last a:hover.none {background-position:-48px -32px; cursor:default}
/* 品牌全部列表 */
.brandAll {margin-left:10px}
.brandAll h3 {font:bold 18px/24px 微软雅黑,Tahoma,Arial; color:#333}
.brandAll ul {overflow:hidden; width:750px; padding:10px 0 30px 0}
.brandAll ul li {width:235px; line-height:14px; height:45px; float:left; background:url(img/list-style.gif) no-repeat 3px 6px; padding-left:15px}
.brandAll ul li a {display:block; color:#333; width:220px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
.brandAll ul li a:hover {color:#E83827}
.brandAll ul li span {display:block; font-size:10px; color:#999}
.logoList {overflow:hidden; position:relative; margin-left:5px; width:99999px}
.logoList ul {width:760px; float:left; overflow:hidden; margin-top:20px}
.logoList li {float:left; width:125px; height:135px; line-height:14px; text-align:center}
.logoList li img {width:80px; height:80px; padding:3px}
.logoList li a {display:block; margin:auto; margin-bottom:3px; position:relative; width:86px; height:86px}
.logoList li a i {display:block; width:86px; height:86px; cursor:pointer; position:absolute; top:0; left:0; background:url(img/logo80BG.png) center}
.logoList li strong {display:block; margin:auto; width:80px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
.logoList li span {font-size:10px; color:#999}
/* 品牌详细 */
#brandDetailed #left {background:url(img/sidebarBg.png) no-repeat right 30px; width:240px; min-height:400px; padding:0 20px 0 0; float:left}
.brandBasic {margin-bottom:30px}
.brandBasic .brandLogo {position:relative; min-height:86px; margin-bottom:20px}
.brandBasic .brandLogo img {width:80px; height:80px; float:left; margin:3px}
.brandBasic .brandLogo i {display:block; position:absolute; left:0; top:0; width:86px; height:86px; background:url(img/logo80BG2.png)}
.brandBasic .brandLogo h2 {margin-left:95px; color:#E83827}
.brandBasic .brandLogo span {display:block; padding-bottom:10px; font-size:20px; line-height:22px; font-weight:normal}
.brandBasic .brandLogo span.cn {font-family:微软雅黑,Tahoma,Arial}
.brandBasic li {border-bottom:#ccc 1px dotted; padding:5px; position:relative; padding-left:70px}
.brandBasic li a {color:#555}
.brandBasic li strong {position:absolute; left:5px; top:5px}
.relatedActivities h3 {font:bold 14px/26px 微软雅黑,Tahoma,Arial; background:url(img/relatedActivities.png) no-repeat left center; padding-left:30px; margin-bottom:10px}
.relatedActivities a {background:url(img/activitiesBg.png) top; line-height:14px; display:block; padding:4px 7px 7px 4px; width:239px; height:180px; margin-left:-5px}
.relatedActivities a:hover {background-position:bottom; text-decoration:none}
.relatedActivities img,.relatedActivities strong,.relatedActivities small,.relatedActivities span {display:block; padding-left:7px; cursor:pointer}
.relatedActivities strong,.relatedActivities span {text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
.relatedActivities img {padding:7px 0 3px 7px; width:225px; height:105px}
.relatedActivities strong {color:#E83827; font:bold 14px/24px 微软雅黑,Tahoma,Arial; padding-bottom:3px; width:225px}
.relatedActivities small {font-weight:bold; font-size:10px}
.relatedActivities span {width:190px}
#brandDetailed #right {width:630px; float:right}
#brandDetailed #right p {padding:6px 0; line-height:20px}
.shopAlbum {width:630px; height:320px; overflow:hidden; display:block; position:relative; margin-bottom:10px}
.shopAlbum .BigImg li {position:absolute; left:0; top:0}
.shopAlbum .thumbnail {position:absolute; bottom:10px; right:10px}
.shopAlbum .thumbnail li {float:left; margin-right:5px}
.shopAlbum .thumbnail img {border:#333 1px solid; padding:1px; margin-right:5px; cursor:pointer; filter:alpha(opacity:50); KHTMLOpacity:0.5; MozOpacity:0.5; opacity:0.5}
.shopAlbum .thumbnail .curr img {border:#ccc 1px solid; filter:alpha(opacity:100); KHTMLOpacity:1; MozOpacity:1; opacity:1}
/* 活动日历 */
.maySwitch {font:18px/50px 微软雅黑,Tahome,Arial; height:50px; color:#333; text-align:center; position:relative}
.maySwitch a {display:inline-block; height:50px; margin:0 15px; text-align:center}
.maySwitch a.curr {background:url(img/monthBg.png); font-weight:bold; width:78px; color:#E83827}
.maySwitch a.lastMonth,.maySwitch a.nextMonth {display:block; background:url(img/maySwitch.png) no-repeat 0 0; top:8px; position:absolute; width:40px; height:33px}
.maySwitch a.lastMonth {left:230px; background-position:0 0}
.maySwitch a.nextMonth {right:230px; background-position:-40px 0}
.maySwitch a:hover.lastMonth {background-position:0 -34px}
.maySwitch a:hover.nextMonth {background-position:-40px -34px}
.calendar {padding:15px 0 0 8px; overflow:hidden}
.calendar .thead {overflow:hidden; height:22px}
.calendar .thead li {float:left; font:12px/22px 微软雅黑,Tahome,Arial; color:#555; padding:0 6px; width:93px}
.calendar .tbody {border:#ddd 1px solid; overflow:hidden; width:735px}
.calendar .tbody li {float:left; padding:5px 6px; margin:0; color:#999; border:#ddd 1px solid; height:80px; border-left:none; border-top:none; width:92px; position:relative}
.calendar .tbody li.notThis {background-color:#eee}
.calendar .tbody li.today {background:url(img/todayBg.gif) no-repeat 92px 2px; color:#E83827; font-weight:bold}
.calendar .tbody a.total {font-size:10px; margin-left:2px}
.calendar .alogo {width:65px; height:65px; position:absolute; bottom:2px; left:20px}
.calendar .alogo img {width:57px; height:57px; margin:4px}
.calendar .alogo a {position:absolute; left:0; top:0; display:block; width:57px; height:57px}
.calendar .alogo a i {display:block; background:url(img/logo57BG.png) no-repeat; width:65px; height:65px; cursor:pointer; position:absolute; left:0; top:0; z-index:10}
.calendar .alogoBtn {position:absolute; right:6px; top:12px; text-align:center; width:44px; height:8px; overflow:hidden}
.calendar .alogoBtn span {display:inline-block; width:12px; height:8px; overflow:hidden; background:url(img/alogoBtn.gif) no-repeat 2px 0}
.calendar .alogoBtn span.curr {background-position:-10px 0}
.calendar .tbody li.notThis .alogoBtn span {background-position:2px -8px}
.calendar .tbody li.notThis .alogoBtn span.curr {background-position:-10px -8px}
.calendar .tbody li.notThis .alogo a i {background:url(img/logo57BG3.png)}
/* 活动列表 */
.activitiesList {overflow:hidden; width:99999px; position:relative}
.activitiesList ul {width:760px; float:left}
.activitiesList li {float:left; margin-left:-1px}
.activitiesList a {background:url(img/activitiesBg.png) top; line-height:14px; display:block; padding:4px 7px 7px 4px; width:239px; height:180px}
.activitiesList a:hover {background-position:bottom; text-decoration:none}
.activitiesList img,.activitiesList strong,.activitiesList small,.activitiesList span {display:block; padding-left:7px; cursor:pointer}
.activitiesList strong,.activitiesList span {text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
.activitiesList img {padding:7px 0 3px 7px; width:225px; height:105px}
.activitiesList strong {color:#E83827; font:bold 14px/24px 微软雅黑,Tahoma,Arial; padding-bottom:3px; width:225px}
.relatedActivities small {font-weight:bold; font-size:10px}
.activitiesList span {width:190px}
.activitiesShare {width:720px; padding-left:20px; padding-top:5px}
.activitiesShare .img {width:720px; text-align:center; padding-bottom:10px}
.activitiesShare .img img {width:720px}
.activitiesShare #ckepop {float:right}
.activitiesShare h3 {font-style:oblique; color:#666; font-size:14px}
.activitiesShare h2 {color:#E83827; line-height:30px; font:bold 16px/30px 微软雅黑,Tahome,Arial}
.activitiesShare p {color:#999; margin-bottom:10px}
/* 新闻列表 */
.newsList {overflow:hidden}
.newsList li {padding:20px 10px; overflow:hidden; zoom:1; border-top:#ddd 1px solid; margin:-1px 0 0 0}
.newsList img {width:130px; height:90px; float:left}
.newsList .img {background:url(img/newsList.png) no-repeat left top; width:130px; height:90px; padding:4px; margin-top:-3px; display:inline-block; float:left}
.newsList .des {margin-left:150px}
.newsList .des span {float:right; color:#999; padding-top:5px; margin-left:10px}
.newsList .des h3 a {font:bold 18px/22px 微软雅黑,Tahoma,Arial; color:#333}
.newsList .des h3 a:hover {color:#000}
.newsList .des h3 {padding-bottom:10px}
.newsList .des .more {background:url(img/newMore.png) no-repeat left top; display:inline-block; float:right; margin-top:10px; padding-left:5px; width:68px; height:21px; line-height:21px; color:#999}
.newsList .des a:hover.more {background-position:0 -21px; color:#fff; text-decoration:none}
.newsShare {padding-left:15px}
.newsShare h2 {font:bold 18px/22px 微软雅黑,Tahome,Arial; padding-bottom:10px}
.newsShare .times {float:left; color:#999}
.newsShare #ckepop {float:right}
.newsShare .cms {padding-top:10px; clear:both; color:#666}
.newsShare .cms p {padding:10px 0}
/* 会员注册 */
.regContent {background:url(img/regBg.png); height:450px; padding:30px; width:964px; margin:auto; margin-top:-50px}
.regContent h2 {text-indent:-999px; overflow:hidden; background:url(img/regTitle.png) no-repeat 40px center; height:50px}
.regSubmit {float:left; width:580px; padding:10px 40px; border-right:#ddd 1px solid; font:12px/30px Tahoma,Arial}
.regLogin {margin-left:680px}
.regSubmit fieldset {padding-bottom:10px; color:#999}
.regSubmit fieldset label {display:inline-block; width:80px; padding-right:10px; text-align:right; font-weight:bold; color:#666;cursor:pointer} 
.regSubmit fieldset input {width:220px; padding:8px 4px; margin-right:10px; vertical-align:middle; margin-right:10px; line-height:14px; height:14px; border:#ccc 1px solid; border-top-color:#ddd; border-left-color:#ddd; background-color:#fff; border-radius:3px}
.regSubmit fieldset input:hover,.regSubmit fieldset input:focus {border-color:#999; background-color:#ffffcc}
.regSubmit fieldset span.correct,.regSubmit fieldset span.error {height:18px; line-height:18px; vertical-align:middle; display:inline-block; background:url(img/RAW.png) no-repeat left top; padding-left:24px}
.regSubmit fieldset span.error {background-position:left bottom; color:#CC6666}
.regSubmit p {padding-left:90px}
.regSubmit p img {margin:0 5px}
.regSubmit p.verification {padding-bottom:10px}
.regSubmit .service label {line-height:12px; height:12px; position:relative; padding-left:22px; cursor:pointer; overflow:hidden; height:20px; line-height:20px}
.regSubmit .service input {position:absolute; left:0; top:-2px}
.regSubmit .service a {font-weight:bold; color:#E83827}
.regSubmit .btnSumit {background:url(img/btnReg.png) left top; margin-top:15px; text-indent:-999px; overflow:hidden; display:block; vertical-align:middle; width:121px; height:44px}
.regLogin {padding:10px 0}
.regLogin h3 {padding-bottom:10px}
.regLogin .aLogin {background:url(img/btnLogin.png) left top; text-indent:-999px; overflow:hidden; display:block; vertical-align:middle; width:103px; height:29px}
/* 会员专区 */
.subscribeList {overflow:hidden}
.subscribeList dt {padding:5px 15px 8px 35px; margin-top:-3px; _margin-top:0; margin-left:10px; font:bold 16px/30px 微软雅黑,Tahoma,Arial; color:#888; cursor:pointer; border-top:#eee 3px solid; background:url(img/subscribeListIcon.png) no-repeat 18px -34px; *background-position:18px -32px}
.subscribeList dt span {font:bold 11px/30px Tahoma,Arial}
.subscribeList dt.close {background-position:18px 0; *background-position:18px 3px}
dd.logoList {width:740px}
dd.logoList li label {display:block}
.logoList li input {vertical-align:middle}
dd.logoList ul {margin-top:0; height:auto; padding-bottom:15px; overflow:hidden}
.subscribeSubmit {text-align:center}
.subscribeSubmit .selectAll,.subscribeSubmit .determine {background:url(img/subscribeListBtn.png) no-repeat left top; margin:0 5px; text-indent:-999px; overflow:hidden; display:inline-block; height:35px}
.subscribeSubmit .selectAll {width:74px}
.subscribeSubmit .determine {width:140px; background-position:-84px 0}
.logoList .braDel {display:inline-block; background:url(img/braDel.gif) no-repeat 0 0; vertical-align:middle; margin-top:2px; *margin-top:4px; margin-left:5px; width:11px; height:11px}
.logoList a:hover.braDel {background-position:0 -11px}
.information {padding:55px 0 0 15px; display:block}
.information h3 {padding:10px 0; margin-top:-60px; display:block; margin-bottom:20px; width:100%; border-bottom:#ddd 1px solid; font:14px/20px 微软雅黑,Tahoma,Arial}
.information p {padding-bottom:10px; height:30px; line-height:30px; color:#999}
.information p span {display:inline-block; padding-right:20px; overflow:hidden}
.information fieldset label {display:inline-block; width:120px; padding-right:10px; text-align:right; font-weight:bold; color:#666;cursor:pointer} 
.information fieldset input {zoom:expression(function(ele) {(ele.className)?ele.className+=" "+ele.type:ele.className=ele.type; ele.style.zoom = "1"}(this))}
.information fieldset input#mail {border:#ccc 1px solid; border-top-color:#ddd; border-left-color:#ddd; background-color:#eee; color:#666}
.information fieldset input[type="text"],.information fieldset input.text,.information fieldset input[type="password"],.information fieldset input.password {width:240px; padding:8px 4px; margin-right:10px; vertical-align:middle; margin-right:10px; line-height:14px; height:14px; border:#ccc 1px solid; border-top-color:#ddd; border-left-color:#ddd; background-color:#fff; border-radius:3px}
.information fieldset input.radio {vertical-align:middle; margin-top:-3px; *margin:0}
.information fieldset input[type="text"]:hover,.information fieldset input[type="text"]:focus,.information fieldset input[type="password"]:hover,.information fieldset input[type="password"]:focus {border-color:#999; background-color:#ffffcc}
.information fieldset span.correct,.information fieldset span.error {height:18px; line-height:18px; vertical-align:middle; display:inline-block; background:url(img/RAW.png) no-repeat left top; padding-left:24px}
.information fieldset span.error {background-position:left bottom; color:#CC6666}
.information select {vertical-align:middle; position:relative; z-index:0}
.information #btnMail {background:url(img/btnLogin.png) left -29px; height:29px; display:inline-block; padding-left:15px}
.information a:hover#btnMail {text-decoration:none}
.information #btnMail span {font-weight:bold; color:#fff; cursor:pointer; background:url(img/btnLogin.png) right -58px; line-height:27px; height:29px; display:inline-block; padding-right:20px}
.information fieldset .address input,.information .address fieldset input.text {width:420px}
.information .infoSumit {padding:20px 0 0 135px}
.information .infoSumit .confirm {background:url(img/infoSubmit.png) no-repeat; display:block; width:120px; height:44px; text-indent:-999px; overflow:hidden}
/* 高级搜索 */
.advancedSearchNav {width:130px; overflow:hidden; margin-top:20px}
.advancedSearchNav .brandSearch {padding-bottom:30px; border-bottom:#ddd 1px solid}
.advancedSearchNav dt {color:#0071bc; font:bold 13px/26px 微软雅黑,Tahoma,Arial}
.advancedSearchNav select {display:block; width:130px; padding:2px; color:#666; margin-bottom:6px}
.advancedSearchNav input {width:122px; list-style:14px; padding:2px; margin-bottom:10px}
.advancedSearchNav .btnSearch {font-weight:bold; color:#666; background:url(img/btnSearch.png) no-repeat; display:block; margin:auto; height:24px; line-height:24px; width:43px; padding-left:30px}
#main #right h2.advancedSearch {font:18px/32px 微软雅黑,Tahoma,Arial; color:#666; padding:0 5px 5px; margin-bottom:15px; margin-left:5px; border-bottom:#ccc 1px solid}
/* 如何到达 */
.reach {background:url(img/map.png) no-repeat left center; margin-bottom:30px; height:305px; padding-left:490px}
.reach dt {text-align:center; font:bold 17px/26px 微软雅黑,Tahoma,Arial; padding:40px 0 10px 0; border-bottom:#ccc 1px solid; color:#E83827}
.reach dd {border-bottom:#ccc 1px solid; padding:8px 15px}
.reach dd strong {color:#00418E; display:inline-block; width:70px; padding-right:10px; text-align:right; text-align:right}
.reach dd .ditugoogle,.reach dd a:hover.ditugoogle {color:#0071BB; background:url(img/ditugoogle.png) no-repeat left center; text-decoration:underline; padding-left:20px; margin-left:10px; display:inline-block}
.reach dd span {display:inline-block}
.reach dd span.iconDitie {background:url(img/iconDitie.png) no-repeat left center; padding-left:20px}
.reach dd span.iconBus {background:url(img/iconBus.png) no-repeat left 1px; padding-left:20px; margin-left:79px; margin-top:5px}
.reachO {background:url(img/reachOBg.png) no-repeat center; color:#fff; width:870px; height:58px; font-weight:bold; padding:15px 20px}
/* 办公楼宇 */
.office {background:url(img/office.jpg) no-repeat left center; height:462px; padding-left:455px; position:relative}
.office h3 {background:url(img/officeTitle.png) no-repeat left; text-indent:-9999px; height:62px; margin-bottom:20px}
.office p {display:block; padding-right:140px; padding-bottom:15px}
.office .officeVideo {position:absolute; right:0; top:80px; width:127px; text-align:center}
.office .parameters {margin:10px 0 25px 0; display:block; width:214; height:45px}
.office hr {border:none; border-top:#ccc 1px solid; margin:25px 0}
.office2 {background:url(img/map2.png) no-repeat right 70px; padding:30px 250px 0 26px}
.office2 h3 {background:url(img/officeTitle2.png) no-repeat left; text-indent:-9999px; height:62px; margin-bottom:20px}
.office2 p {display:block; padding-right:140px; padding-bottom:15px}
.tabOffice {width:860px; margin:10px auto 5px auto}
.tabOffice td,.tabOffice th {border:#CBCBCB 1px solid; text-align:left; padding:5px 10px; font-weight:normal; color:#666}
.tabOffice th {background:#F1F1F1; color:#333}
/* 关于凯德龙之梦 */
.about {display:block; overflow:hidden; margin-top:30px; padding:0 30px}
.about h3 {font:bold 20px/22px 微软雅黑,Tahoma,Arial; color:#333; padding-bottom:10px}
.about h3 span {display:block; font-size:12px}
.about li {overflow:hidden; padding:20px 5px 20px 10px; border-top:#CBCBCB 1px solid; margin-top:-1px}
.about li div {width:415px; margin-left:25px; float:left}
.about li div p {display:block; padding-bottom:10px; color:#666}
.about .Alogo {float:left}
.about .Aphoto {float:right}
/* 联系我们 */
.r_link {border-top:#d8d8d8 1px solid; margin-top:20px}
.r_link dt {font:14px/32px 微软雅黑,Tahoma,Arial; color:#333}
.r_link dd {background:url(img/iconSidebar.gif) no-repeat 5px center; line-height:21px; padding-left:18px}
.contact dl {border-bottom:#d8d8d8 1px solid; overflow:hidden; margin-left:15px; padding:20px 0 10px 0}
.contact dl.noBorder {border:none}
.contact dt {float:left; padding-left:10px}
.contact dd {margin-left:170px; padding-bottom:15px}
.contact dd h3 {font-weight:bold; font-size:14px; padding-bottom:5px; color:#E83827}
.contact dl.noBorder dd h3 {color:#00418E}
